---
import { marked } from "marked";
import Layout from "../../layouts/Layout.astro";
import { Breadcrumbs, BreadcrumbsItem } from "accessible-astro-components";
import { getStrapiMedia } from "../../lib/utils";
import { getCollection } from 'astro:content';

// import OptimizedImage from "../../components/OptimizedImage.astro";

export async function getStaticPaths() {
  const strapiPosts = await getCollection("strapiPostsLoader");
  
  const articles = strapiPosts.map((article) => {
    return {
      params: { post: article.data.slug },
      props: { article: article.data },
    };
  });

  return articles;
}

const { article } = Astro.props;
const { title, description, content, slug, image } = article;
const imageUrl = getStrapiMedia(image.url);
---

<Layout title={title} description={description}>
  <div class="container mx-auto my-5">
    <Breadcrumbs>
      <BreadcrumbsItem href="/" label="Home" />
      <BreadcrumbsItem href="/blog" label="Blog" />
      <BreadcrumbsItem currentPage={true} label={slug} />
    </Breadcrumbs>
  </div>
  <section>
    {
      imageUrl && (
        <div class="overflow-hidden">
          <img
            src={imageUrl}
            alt={image.alternativeText}
            class="w-full h-[500px] object-cover"
          />
        </div>
      )
    }

    <div class="max-w-5xl mx-auto my-12 rich-text">
      <article set:html={marked.parse(content)} />
    </div>
  </section>
</Layout>

<style></style>
